<header class="row">
  <div class="span5 col-sm-5">
    <h3><%=t "future_jobs" %></h3>
  </div>
</header>

<% if @future_jobs.size > 0 %>
  <table class="table table-hover table-bordered table-striped table-white">
    <thead>
      <th class="checkbox-column">
        <input type="checkbox" class="check_all" />
      </th>
      <th><%= t("When") %></th>
      <th><%= t("Queue") %></th>
      <th><%= t("Task") %></th>
      <th><%= t("Job") %></th>
    </thead>

    <tbody>
      <% @future_jobs.each do |entry| %>
        <% args = entry.display_args[0].symbolize_keys %>
        <tr>
          <td>
            <input type='checkbox' name='key[]' value='<%= job_params(entry.item, entry.score) %>' />
          </td>

          <td>
            <a href="<%= root_path %>scheduled/<%= job_params(entry.item, entry.score) %>">
              <%= relative_time(entry.at) %>
            </a>
            <br>
            <%= I18n.l(entry.at.in_time_zone(args[:tz]), format: :long) %>
          </td>

          <td>
            <a href="<%= root_path %>queues/<%= entry.queue %>">
              <%= entry.queue %>
            </a>
          </td>

          <td>
            <%= args[:name] %>
          </td>

          <td><%= args[:class] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <span class='alert alert-success'><%= t("no_future_jobs") %></span>
<% end %>
